@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center" >
    <h1 class="display-4">Bienvenidos al COECYS 2020</h1>
    <br>
    <img src="/img/coecys.png" style="background:rgb(17,30,35)" height="250px">
</div>
